.title {
  margin: 10px;
  color: #055a5b;
}

.recipe {
    background-color: #61BFAD;
    padding: 9px 9px 3px 9px;
    border-radius: 3px;
    margin: 10px;
  }

  .recipe-title {
    margin: 0;
    text-transform: uppercase;
    cursor: pointer;
  }

  .recipe-title:hover {
    text-decoration: underline;
  }
  
  .recipe-description {
    display: none;
  }

  .recipe-description.isOpen {
    display: block;
  }

  .ingredients-item {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
  }

  .ingredients-item:hover {
    text-decoration: underline;
  }

  .btn {
    background-color: #ff8b8b;
    border: none;
    border-radius: 3px;
    padding: 3px;
    margin-left: 5px;
    cursor: pointer;
  }

  .note {
    visibility: hidden;
    color: #f24522;
  }

  .note.isVisible {
    visibility: visible;
  }

  .ingredient-textarea {
    width: 80%;
    height: auto;
  }

  .add-recipe {
    background-color: #FFC1B3;
    padding: 9px;
    border-radius: 3px;
    margin: 10px;
  }
  
  .add-recipe-title {
    margin: 0;
  }